<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand ml-4" href="/">Blog Post App</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a
					class="btn btn-dark ml-4"
					routerLink="/home"
					routerLinkActive="active"
					><i class="fa fa-home"></i> Home</a
				>
			</li>
			<li class="nav-item">
				<a class="btn btn-light ml-4" href="/posts/new"
					><i class="fa fa-plus"></i> New Post</a
				>
			</li>
		</ul>
	</div>
</nav>
