<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand ml-4" href="/">Blog Post App</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto mr-4">
			<li>
				<button class="btn draw-border" routerLink="/create">
					<i class="fa fa-plus"></i> New Post
				</button>
			</li>
		</ul>
	</div>
</nav>
